*~
# répertoires contenant des fichiers générés en 2009-2012
# à l'aide du style "devoir.sty"
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
# répertoire généré par programme
collection
# fichier généré par index++
swish++.index
# fichiers générés par "make all"
html_collection/*.html
html_collection/file*
html_collection/img_*
# fichiers de journal
logfile*